In [1]:
import pandas as pd
import os
import shutil

In [2]:
df = pd.read_csv("/Users/Jorg/Data/crosswalk_data/all_annotations_v2.csv")
df.head()

,label,imagePath,imageHeight,imageWidth,xmin,ymin,xmax,ymax
0,R_Signal,MP_KSC_000003.jpg,360,640,573.651636,162.068966,585.877427,188.269502
1,Zebra_Cross,MP_KSC_000003.jpg,360,640,84.259259,246.574074,640.000000,360.000000
2,Zebra_Cross,MP_KSC_000016.jpg,360,640,406.965174,274.378109,504.477612,288.308458
3,R_Signal,MP_KSC_000057.jpg,360,640,473.360988,212.031750,485.625458,240.280565
4,Zebra_Cross,MP_KSC_000057.jpg,360,640,191.151824,299.584916,639.736958,360.000000

In [3]:
df.label.unique()

array(['R_Signal', 'Zebra_Cross', 'G_Signal', '1'], dtype=object)

In [4]:
df.imagePath.duplicated().sum()

14829

In [5]:
df = df.loc[df['label']=='Zebra_Cross']

df.label.unique()

array(['Zebra_Cross'], dtype=object)

In [6]:
df=df[df['imagePath'].str.contains(".png")==False]

In [7]:
df['imagePath']

1        MP_KSC_000003.jpg
2        MP_KSC_000016.jpg
4        MP_KSC_000057.jpg
6        MP_KSC_000058.jpg
7        MP_KSC_000133.jpg
               ...
49510    MP_TW_P004995.jpg
49512    MP_TW_P004996.jpg
49514    MP_TW_P004997.jpg
49515    MP_TW_P005007.jpg
49516    MP_TW_P005012.jpg
Name: imagePath, Length: 35573, dtype: object

In [8]:
df.imagePath.duplicated().sum()

754

In [9]:

df[['xmin', 'ymin', 'xmax', 'ymax']] = df[['xmin', 'ymin', 'xmax', 'ymax']].astype(int)

In [10]:
#drop column of label
df = df.drop(columns = ['label','imageHeight','imageWidth'])
df.head()

           imagePath  xmin  ymin  xmax  ymax
1  MP_KSC_000003.jpg    84   246   640   360
2  MP_KSC_000016.jpg   406   274   504   288
4  MP_KSC_000057.jpg   191   299   639   360
6  MP_KSC_000058.jpg    75   260   640   360
7  MP_KSC_000133.jpg   354   186   525   211

In [11]:
df.nunique() #the row of imagePath is more than the row of coordinate, mean there is some duplicated imagepath

imagePath    34819
xmin           618
ymin           332
xmax           615
ymax           296
dtype: int64

In [12]:
df.imagePath.duplicated().sum()

754

In [13]:
duplicate = df[df.duplicated(['imagePath'])]
print(duplicate)

                imagePath  xmin  ymin  xmax  ymax
700     MP_KSC_007487.jpg   249   175   384   185
702     MP_KSC_007490.jpg   279   150   480   177
771     MP_KSC_007827.jpg    13   131   471   194
775     MP_KSC_007844.jpg   319    97   584   142
885     MP_KSC_008460.jpg   220   290   391   312
...                   ...   ...   ...   ...   ...
48939  MP_SEL_P006230.jpg   295   237   345   255
49054   MP_TW_P000023.jpg   191   221   640   360
49055   MP_TW_P000023.jpg   204   197   460   278
49236   MP_TW_P001168.jpg   434   248   505   281
49491   MP_TW_P004799.jpg   251   229   612   257

[754 rows x 5 columns]

In [14]:
df.to_csv('zebra_img.csv', index=False)

In [15]:
imgpath = df["imagePath"]
df[imgpath.isin(imgpath[imgpath.duplicated()])]

               imagePath  xmin  ymin  xmax  ymax
699    MP_KSC_007487.jpg   334   157   408   171
700    MP_KSC_007487.jpg   249   175   384   185
701    MP_KSC_007490.jpg   198   198   639   306
702    MP_KSC_007490.jpg   279   150   480   177
770    MP_KSC_007827.jpg    77    74   314   115
...                  ...   ...   ...   ...   ...
49055  MP_TW_P000023.jpg   204   197   460   278
49235  MP_TW_P001168.jpg   243   233   395   263
49236  MP_TW_P001168.jpg   434   248   505   281
49489  MP_TW_P004799.jpg   179   275   635   356
49491  MP_TW_P004799.jpg   251   229   612   257

[1436 rows x 5 columns]

In [16]:
#save the duplicated to another csv
df[imgpath.isin(imgpath[imgpath.duplicated()])].to_csv('dups.csv')

In [17]:
dp_df = pd.read_csv('dups.csv')

In [18]:
dp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   imagePath   1436 non-null   object
 2   xmin        1436 non-null   int64
 3   ymin        1436 non-null   int64
 4   xmax        1436 non-null   int64
 5   ymax        1436 non-null   int64
dtypes: int64(5), object(1)
memory usage: 67.4+ KB